= simple_form_for(@card_detail) do |f|
  = f.error_notification

  / .form-inputs
  /   = f.input :name_on_card
  /   = f.input :card_number
  /   = f.input :card_expiry_date
  /   = f.input :cvv
  /   = f.input :user_id

  / .form-actions
  /   = f.button :submit


.container
  .row-fluid
    %form.form-horizontal
      %fieldset
        #legend
          %legend Payment
        / Name
        .control-group
          %label.control-label{for: "username"} Card Holder's Name
          .controls
            %input#username.input-xlarge{name: "username", placeholder: "", type: "text"}/
        / Card Number
        .control-group
          %label.control-label{for: "email"} Card Number
          .controls
            %input#email.input-xlarge{name: "email", placeholder: "", type: "text"}/
        / Expiry
        .control-group
          %label.control-label{for: "password"} Card Expiry Date
          .controls
            %select#expiry_month.span3{name: "expiry_month"}
              %option
              %option{value: "01"} Jan (01)
              %option{value: "02"} Feb (02)
              %option{value: "03"} Mar (03)
              %option{value: "04"} Apr (04)
              %option{value: "05"} May (05)
              %option{value: "06"} June (06)
              %option{value: "07"} July (07)
              %option{value: "08"} Aug (08)
              %option{value: "09"} Sep (09)
              = succeed "1" do
                %option{value: "10"} Oct (10)
              %option{value: "11"} Nov (11)
              %option{value: "12"} Dec (12)
            %select.span2{name: "expiry_year"}
              %option{value: "13"} 2013
              %option{value: "14"} 2014
              %option{value: "15"} 2015
              %option{value: "16"} 2016
              %option{value: "17"} 2017
              %option{value: "18"} 2018
              %option{value: "19"} 2019
              %option{value: "20"} 2020
              %option{value: "21"} 2021
              %option{value: "22"} 2022
              %option{value: "23"} 2023
        / CVV
        .control-group
          %label.control-label{for: "password_confirm"} Card CVV
          .controls
            %input#password_confirm.span2{name: "password_confirm", placeholder: "", type: "password"}/
        / Save card
        .control-group
          .controls
            %label.checkbox{for: "save_card"}
              %input#save_card{type: "checkbox", value: "option1"}/
              Save card on file?
        / Submit
        .control-group
          .controls
            %button.btn.btn-success Pay Now